:root {
    --col-pri: #156374;
    --col-highlight: #abe1ed;
    --col-text: #121212;
    --col-bg: #FFFFFF;
    --col-bg-translucent: #FFFFFF99;
    --col-transparent: #00000000;
    --ani-time: 0.25s;
}

[data-theme="dark"] {
    --col-pri: #abe1ed;
    --col-highlight: #156374;
    --col-text: #FFFFFF;
    --col-bg: #1f1f1f;
    --col-bg-translucent: #1f1f1f99;
}

html {
    background-color: var(--col-bg);
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 16px;
}

html,
body {
    scroll-behavior: smooth;
    color: var(--col-text);
    font-family: 'Lato', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 1;
    transition-duration: var(--ani-time);
}

header {
    background-color: var(--col-bg);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    top: 0;
    left: 0;
    right: 0;
    transition-duration: var(--ani-time);
    z-index: 100;
    height: auto;
}

header a {
    padding: 0.75rem 1rem 0.75rem 1rem;
    color: var(--col-text);
    text-decoration: none;
    transition-duration: calc(var(--ani-time) * 0.5);
}

header a:hover {
    transform: scale(1.1);
    transition-duration: calc(var(--ani-time) * 0.5);
}

section {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

h1 {
    font-weight: 900;
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: 900;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

hr {
    border: 1px solid var(--col-text);
    margin: 12px 0 12px 0;
}

footer {
    padding: 4rem 1.2rem 1.2rem 1.2rem;
    z-index: 2;
    transition-duration: var(--ani-time);
}

.current-page {
    background-color: var(--col-pri);
    border-radius: 2px;
    color: var(--col-bg);
}

.outline-text {
    -webkit-text-stroke: 1.6px var(--col-pri);
    -webkit-text-fill-color: var(--col-transparent);
}

.highlight {
    background-color: var(--col-highlight);
}

.more-info {
    color: var(--col-text);
    text-decoration: none;
    border-bottom: 1.6px dotted var(--col-text);
    display: inline;
    font-size: 1.2rem;
    transition-duration: calc(var(--ani-time) * 0.5);
}

.col-pri {
    color: var(--col-pri);
}

.timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--col-text);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 3rem 0 1rem 0;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    right: -2.04rem;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 3.6rem 3.6rem;
    border: 3.6px solid var(--col-pri);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -2.06rem;
}

.content {
    padding: 2rem;
    background-color: var(--col-transparent);
    position: relative;
    border-radius: 5px;
    border: 1.8px solid var(--col-pri);
}

.content-subtitle {
    font-size: 1rem;
    color: var(--col-pri);
    font-family: 'Roboto Mono', monospace;
    margin: 5px 0 8px 0;
}

.content ul {
    margin: 0;
    padding-left: 17px;
}

.pri-btn {
    font-size: 1.8rem;
    background-color: var(--col-pri);
    color: var(--col-bg);
    border: solid 0.25rem var(--col-pri);
}

.sec-btn {
    font-size: 1.5rem;
    height: 2.25rem;
    width: 2.25rem;
    background: none;
    color: var(--col-pri);
    border: solid 0.1rem var(--col-pri);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: var(--ani-time);
}

.sec-btn .tooltip {
    visibility: hidden;
    font-size: 0.64rem;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: -12%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity var(--ani-time);
    background-color: var(--col-pri);
    color: var(--col-bg);
    padding: 0.5rem;
}

.sec-btn .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--col-pri) transparent transparent transparent;
}

.fa-play {
    transform: translateX(1.6px);
}

#mobile-nav-btn {
    display: none;
}

#about {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem;
    transition-duration: var(--ani-time);
}

#about div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#timeline-one::after {
    background-image: url("media/uiuc-block-i.png");
}

#timeline-two::after {
    background-image: url("media/mlsa-badge.png");
}

#timeline-three::after {
    background-image: url("media/jtc-logo.jpg");
}

#timeline-four::after {
    background-image: url("media/tinkertanker-logo.png");
}

#timeline-five::after {
    background-image: url("media/ri-logo.jpg");
}

#timeline-six::after {
    background-image: url("media/tinkertanker-logo.png");
}

#timeline-seven::after {
    background-image: url("media/rgs-logo.jpg");
}

#misc-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.2rem;
    column-gap: 1rem;
    align-items: flex-end;
    transition-duration: var(--ani-time);
    z-index: 2;
}

#misc-buttons button {
    border-radius: 100%;
}

#to-top-btn {
    transition-duration: var(--ani-time);
}

/* Background Animation */

.area {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}

.circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0.16;
    z-index: -10;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: var(--col-text);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 110px;
    height: 110px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li.ani-pause {
    animation-play-state: paused;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
    header {
        background-color: var(--col-bg-translucent);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    section,
    footer {
        background-color: var(--col-bg-translucent);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .sec-btn {
        background-color: var(--col-bg-translucent);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    #mobile-nav-btn {
        background-color: var(--col-bg-translucent);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

@media (hover: hover) {
    .pri-btn:hover {
        cursor: pointer;
    }

    .sec-btn:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: calc(var(--ani-time) * 0.5);
    }

    .sec-btn:hover .tooltip {
        visibility: visible;
        opacity: 1;
        transition: opacity var(--ani-time);
    }

    .more-info:hover {
        transform: translateY(12px);
        transition-duration: calc(var(--ani-time) * 0.5);
    }

    #to-top-btn:hover {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 12px;
    }

    header {
        transform-origin: top center;
        transform: scaleY(0);
        height: 100vh;
        flex-direction: column;
    }

    header.mobile-vis {
        transform: scaleY(1);
    }

    #mobile-nav-btn {
        display: flex;
        flex-direction: column;
        gap: 3px;
        position: fixed;
        top: 1.2rem;
        left: 1.2rem;
        border-radius: 100%;
        z-index: 101;
        height: 3rem;
        width: 3rem;
        background: none;
        color: var(--col-pri);
        border: solid 0.1rem var(--col-pri);
        text-align: center;
        justify-content: center;
        align-items: center;
        transition-duration: var(--ani-time);
    }

    #mobile-nav-btn .mobile-nav-bar {
        height: 4px;
        width: 1.8rem;
        background-color: var(--col-pri);
        border-radius: 5px;
        transition: all var(--ani-time);
        transform-origin: center center;
        transform: translateX(0.4px) scale(1);
    }

    #bar-1.to-close {
        transform: translateX(0.4px) translateY(7px) rotateZ(45deg);
    }

    #bar-2.to-close {
        transform: translateX(0.4px) scaleX(0);
    }

    #bar-3.to-close {
        transform: translateX(0.4px) translateY(-7px) rotateZ(-45deg);
    }

    .timeline::after {
        left: 1rem;
    }

    .container {
        width: 96%;
        padding-left: 1rem;
        padding-right: 0;
    }

    .left::after,
    .right::after {
        left: -1.1rem;
    }

    .right {
        left: 0%;
    }
}

@media screen and (max-width: 1007px) {
    #misc-buttons {
        flex-direction: column-reverse;
        row-gap: 1rem;
    }
}