html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    background-color: #004459;
    background-attachment:fixed;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    overflow-x: hidden;
}

nav {
    margin-left: 5vw;
    margin-right: 5vw;
}

#divider-overwrite {
    border: 0;
    height: 1px;
    background: white;
    opacity: 1;
    margin-left: 10vw;
    margin-right: 10vw;
    position: relative;
    z-index: 50;
}

.center-el {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

#landing-card {
    position: relative;
    z-index: 100;
    padding: 5vw;
}

#title-card {
    position: relative;
    z-index: 100;
    background-color: white;
    color: #383838;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 20px;
    padding: 1em 3em 1em 3em;
    border: 10px solid #05B797;
    width: fit-content;
}

h1 {
    font-size: 48px;
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1:before {
    content: "<h1>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h1:after {
    content: "</h1>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

h2:before {
    content: "<h2>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h2:after {
    content: "</h2>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}


h3 {
    font-size: 24px;
    font-weight: normal;
}

h3:before {
    content: "<h3>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h3:after {
    content: "</h3>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h4:before {
    content: "<h4>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h4:after {
    content: "</h4>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h5:before {
    content: "<h5>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h5:after {
    content: "</h5>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h6:before {
    content: "<h6>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

h6:after {
    content: "</h6>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

u {
    border-bottom: 1.5px dotted;
    text-decoration: none;
}

span {
    position: relative;
}

p:before{
    content: "<p>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

p:after{
    content: "</p>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

#navName {
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    position: relative;
    z-index: 10;
    padding-left: 0.5em;
}

@media only screen and (min-width:992px) {
    #socialMediaBar {
        font-size: 28px;
        color:white;
        padding-right: 1em;
    }

    #navName {
        font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        position: relative;
        z-index: 10;
        padding-left: 1em;
    }

    .journeyIcon {
        width: 80%;
    }
}

@media only screen and (max-width:992px) {
    body {
        padding: 1em;
    }

    .journeyIcon {
        width: 40%;
    }
}

#socialMediaBar {
    font-size: 28px;
    color:white;
}

#landing-3d {
    transition-duration: 0.2s;
    background-image: url("media/Blender-Teahouse.png");
    background-color: white;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #383838;
    border-radius: 20px 20px 20px 80px;
    padding: 3em;
    min-height: 25vh;
    border: 10px solid #05B797;
    position: relative;
}

#landing-3d:hover {
    transition-duration: 0.2s;
    transform: translate(-15px) scale(1.05);
}

.landing-page-content {
    background-color: white;
    width: 60%;
    min-width: calc(var(fit-content)+10px);
    max-width: calc(var(fit-content)+100px);
    margin: auto;
    border-radius: 2px;
    padding: 0.2em;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
}

#landing-projects {
    transition-duration: 0.2s;
    background-image: url("media/microbit_voice-activated_thumbnail.jpg");
    background-color: white;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #383838;
    border-radius: 20px 20px 80px 20px;
    padding: 3em;
    min-height: 25vh;
    border: 10px solid #05B797;
    position: relative;
}

#landing-projects:hover {
    transition-duration: 0.2s;
    transform: translate(15px) scale(1.05);
}

#pageButtons {
    width: 61.5vw;
    position: relative;
    z-index: 100;
}

footer {
    font-size: 14px;
    padding-left: 1em;
    padding-top: 2em;
}

#bg-curve-container {
    position: absolute;
    margin-top: 5vw;
    z-index: -1;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 200%;
    overflow-x:hidden;
}

#bg-window1 {
    margin-top: 10vw;
    margin-left: 36vw;
    transform: scale(1.2) rotate(-2deg);
}

#bg-window1-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 150%;
    overflow-x:hidden;
}

#bg-window2 {
    margin-top: 5vw;
    transform: scale(1.2) rotate(2deg);
}

#bg-window2-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 150%;
    overflow-x:hidden;
}

#dropdown-overwrite {
    background-color: #067396;
    color: white;
    border: none;
}

a {
    color: #fcdf90;
}

a:hover {
    color: #FF7898;
}

@media screen and (max-width: 767px) {
    #pageButtons {
        width: 80%;
        position: relative;
        z-index: 100;
    }
  }

.project-card {
    color: white;
    background-color: #004459;
    margin-left:8vw;
    margin-right:8vw;
    border-radius: 20px;
    border: 5px solid #085f8580;
    padding: 0.5em;
}

.project-card a{
    text-decoration:underline;
}

.project-card-main {
    color: white;
    background-color: #004459;
    border-radius: 20px;
    border: 5px solid #085f8580;
    padding: 0.5em;
}

.project-card a{
    text-decoration:underline;
}

.project-card-group {
    color: white;
    background-color: #004459;
    border-radius: 20px;
    border: 5px solid #085f8580;
    padding: 0.5em;
}

.project-card-group a{
    text-decoration:underline;
}

.project-card-group p {
    font-size: 18px;
}

#card-links {
    padding-left: 0;
}

#mente-list p {
    margin-bottom: 0;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    color: white;
    background-color: #085f8580;
    transition: 0.25s;
}

#btn-back-to-top:hover {
    transform: translateY(-15px);
}

.galleryImg {
    border-radius: 20px;
    border: 5px solid #085f8580;
}

#lightboxModal-dialog {
    max-width: 80%;
}

#carousel-img-caption {
    min-width: calc(var(fit-content)+10px);
    max-width: calc(var(fit-content)+100px);
    background-color: black;
}

#galleryCarousel {
    width: 100%;
    border-radius: 5px;
}

.width-85 {
    width: 85%;
}

.carousel-gallery-caption {
    padding: 0.5em 1em 0.1em 1em;
    margin-bottom: 1em;
    width: max-content;
    height:min-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#video-display {
    margin-top: 1em;
    margin-bottom: 1em;
}

#aboutCaption {
    color: white;
}

.aboutIcon {
    height: 120px;
}

#left-text {
    text-align: left;
}

#break:before{
    content: "<br>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
}

.vl {
    border-left: 1px solid white;
    height: max-content;
}

#landingAbout {
    margin-left: 1vw;
}

#rotating {
    position: relative;
    display: inline-block;
}

#rotating-up{
    color:rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 120px;
    z-index: 1;
    bottom: 70%;
    left: 45%;
    margin-left: -10px;
    animation-name: arrow-up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes arrow-up {
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

#rotating-down{
    color:rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 120px;
    z-index: 1;
    bottom: -70%;
    left: 45%;
    margin-left: -10px;
    animation-name: arrow-down;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    cursor: pointer;
}

@keyframes arrow-down {
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(5px);}
    100% {transform: translateY(0px);}
}

#landing-name {
    font-size: 64px;
}

#profilePicture{
    border-radius: 100%;
    border: 5px solid #085f8580;
    margin-bottom: 20px;
}

.yellow-text {
    color: #fcdf90;
}

.moreButton {
    background-color: #085f8580;
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 16px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    text-align: left;
}

.moreButton:hover {
    background-color: white;
    color: #004459;
    transition: 0.5s;
}

img {
    user-select: none;
}

br {
    user-select: none;
}

#aboutIllustration {
    margin-top: 25%;
    margin-bottom: 25%;
}

#divider-hr-overwrite {
    opacity: 1;
    width: 80%;
    color: #004459;
    border-top: 5px solid #085f8580;
}

#divider-hr-overwrite::after {
    content: "<hr>";
    font-size: 16px;
    color: #FF7898;
    font-family: monospace;
    position: absolute;
    transform: translateY(-15px);
}

#footer-overwrite {
    font-size: 20px;
}

#landingIllustration {
    width: 100%;
}
